.app {
  text-align: center;
}

/* Navbar Section */

.navbar {
  width: 100%;
  position: fixed !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.7);
  top: 0px;
  z-index: 2;
}

.nav-links {
  margin: 5px 25px;
  color: white !important;
  font-size: 18px !important;
  text-decoration: none;
}

/* Hero Section */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.hero-section {
  background-image: url(./images/home-img/hero3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.hero-text {
  position: absolute;
  top: 60%;
  left: 5%;
  color: #000;
  font-size: 50px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Coffee Card Section */
.coffee-card-section {
  margin: 50px auto;
}

.coffee-card-container {
  max-width: none !important;
}

.coffee-card-row {
  width: 80%;
  margin: 0 auto !important;
}

.coffee-card {
  margin: 10px;
  width: 17rem !important;
  height: 350px !important;
  flex-shrink: 0;
  border-radius: 20px !important;
  background: white !important;
  color: #523116 !important;
}

.coffee-card-title {
  padding: 20px;
}

.coffee-card-text {
  padding: 15px;
  padding-top: 0;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.019px;
}

@media (max-width: 1200px) {
  .coffee-card-row {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .coffee-card-row {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .coffee-card-row {
    width: 100%;
  }
  .coffee-card {
    margin: 20px;
  }
}

/* Featured Section */

.featured-section {
  margin: 100px auto;
  text-align: left;
  color: #523116;
}

.featured-slide {
  margin: 50px 10px;
}

.featured-slide-box {
  margin: 20px;
  text-align: center;
}

/* About Section */

.about-hero-section {
  background-image: url(./images/about-img/about1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.about-hero-text {
  position: absolute;
  top: 48%;
  left: 5%;
  padding: 0 10px;
  padding-right: 40px !important;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
}

@media (max-width: 576px) {
  .about-hero-text {
    top: 28%;
    font-size: 21px;
  }
}

@media (max-width: 384px) {
  .about-hero-text {
    top: 15%;
    font-size: 20px;
  }
}

/* Locations Section */

.location-map {
  position: relative;
}

.location-map-text {
  position: absolute;
  top: 83%;
  width: 100%;
  height: 100px;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 20px;
}

.location-map-text p {
  padding-top: 15px;
}

.location-shops {
  margin-top: 100px;
}

.location-shops-box {
  margin: 30px auto;
}

.shop-button {
  border: 0;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  font-size: 15px;
  color: white;
  background: #523116 !important;
}

/* Single Shop Page */

.shop-hero-section {
  background-image: url(./images/shops/shop-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 600px;
  color: #523116;
}

.shop-hero-back-link {
  position: absolute;
  top: 18%;
  left: 5%;
  text-decoration: none;
  color: #523116;
  font-weight: 500;
  font-size: 18px;
}

.shop-hero-text {
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
}

.shop-hero-img {
  margin-bottom: 40px;
}

.shop-hero-text h2 {
  font-weight: 600;
}

.shop-arrow-down {
  margin-top: 60px;
}

/* Shop Info Page */

.shop-info-section {
  text-align: left;
  margin: 60px auto;
}

.shop-info-section h2 {
  font-weight: 600;
  margin-bottom: 25px;
}

.shop-vibe {
  margin: 35px auto;
}

.shop-info-section h3 {
  font-weight: 600;
}

.shop-info-section ul {
  margin: 10px 30px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .shop-info-section ul {
    display: block;
  }
}

.shop-info-section li {
  font-size: 21px;
}

.shop-popular-items {
  margin: 35px auto;
}

.shop-popular-items div.row {
  margin: 30px auto;
}
.shop-popular-items div.col {
  text-align: center;
}

/* Recipes Section */

@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Lato&display=swap");

.recipes-hero-section {
  font-family: "Aladin", cursive !important;
  font-family: "Lato", sans-serif;
  background-image: url(./images/recipes/recipes-hero1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 700px;
  color: white;
}

.recipes-hero-text {
  position: absolute;
  top: 30%;
  left: 28%;
  right: 28%;
}

.recipes-hero-text h1 {
  font-size: 66px;
}

.recipes-hero-text h2 {
  font-size: 44px;
}

.recipes-button {
  border: 0;
  border-radius: 25px;
  height: 60px;
  max-width: fit-content;
  padding: 5px 20px;
  font-size: 35px;
  background: white;
  margin-top: 70px;
}

.recipes-button a {
  text-decoration: none;
  color: #523116 !important;
}

@media (max-width: 635px) {
  .recipes-button {
    margin-top: 44px;
  }
}

@media (max-width: 520px) {
  .recipes-hero-text h1 {
    font-size: 50px;
  }

  .recipes-hero-text h2 {
    font-size: 34px;
  }
  .recipes-button {
    font-size: 28px;
  }
}

@media (max-width: 440px) {
  .recipes-hero-text h1 {
    font-size: 45px;
  }
  .recipes-button {
    font-size: 20px;
  }
}

/* Coffee Material Section */

.coffee-material-section,
.raw-materials-section,
.recipes-result-section {
  margin: 100px auto;
  margin-top: 150px;
}

.coffee-material-section h2,
.raw-materials-section h2 {
  font-weight: 600;
}

.form-check-input {
  background-color: #e0b073 !important;
  color: #523116;
  border: 2px solid #523116 !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #a27149 !important;
  outline: 0 !important;
}

.checkbox-row {
  margin: 30px auto !important;
  width: 50%;
}

.checkbox-col {
  font-weight: 500;
  text-align: left;
}

.materials {
  padding: 5px;
}

@media (max-width: 425px) {
  .checkbox-row {
    margin: 30px auto !important;
    width: 73%;
  }
}

/* Raw Material Section */

.raw-materials-container {
  text-align: left;
}

.type-section {
  font-size: 18px;
  margin: 40px auto;
}

.raw-material-row {
  margin: 10px 30px;
}

.drink-button {
  border: 0;
  border-radius: 15px;
  height: 30px;
  width: 200px;
  font-size: 15px;
  color: white;
  margin: 50px auto;
  background: #523116 !important;
}

/* Result page */

.recipes-result-section h2 {
  font-family: "Aladin", cursive !important;
  font-family: "Lato", sans-serif;
  font-size: 56px;
  font-weight: 400;
}

.recipes-result-title {
  text-align: left;
}

.recipes-result-col {
  margin: 40px auto !important;
}

/* Footer Section */
div .footer-section {
  max-width: none;
  background-color: #523116;
  height: 100%;
}

.footer-text {
  padding: 30px;
  color: white;
  text-align: left;
}

.site-name {
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
}

.footer-links {
  text-decoration: none;
  color: white;
}

.footer-note-text {
  color: white;
}

@media (max-width: 999px) {
  .footer-note-text {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  .footer-note-text {
    text-align: left !important;
  }
}

